: link : hover, : visited : hover {
    color : #f00!important
}
 : link {
    color : #1a3dc1
}
wbr {
    display : inline-block
}
body
{
    font : .8em Arial, sans-serif;
    position : relative;
    z-index : 0;
    margin : 0;
    padding : 0 0 1em 0;
    color : #000;
    background : #fff
}
 * {
    font-size : 100 % ;
    margin : 0
}
h1, h2, h3, h4, h5, h6 {
    font-weight : normal;
    padding : 0
}
table {
    border-collapse : collapse
}
th, td {
    padding : 0;
    text-align : left;
    vertical-align : top;
    border-collapse : collapse
}
ol, ul {
    list-style : none
}
ol, ul, li {
    padding : 0
}
code, input, textarea {
    font-family : Arial, sans-serif
}
a {
    text-decoration : none
}
 : link, : visited {
    text-decoration : underline
}
a img, fieldset {
    border : 0
}
b {
    font-weight : normal
}
i {
    font-style : normal
}
.g-line : after {
    display : block;
    clear : both;
    height : 0;
    content : " "
}
.g-hidden {
    display : none!important
}
.b-icon {
    position : absolute;
    overflow : hidden;
    width : 16px;
    height : 16px;
    margin-left : -19px
}
.b-icon i {
    position : relative;
    display : block
}
#js .b-hint-input {
    position : absolute;
    z-index : 2;
    margin : .3em .2em;
    cursor : text;
    color : #999
}
.b-round {
    position : relative;
    z-index : 1;
    display : block
}
.b-round .l, .b-round .r {
    position : absolute;
    left : 0;
    overflow : hidden
}
.b-round .r {
    right : 0;
    left : auto
}
.b-round .l * , .b-round .r * {
    position : absolute;
    left : 0;
    width : 80px;
    height : 528px
}
.b-round .l i, .b-round .r i {
    background : url(//lego.static.yandex.net/2.0/common/block/b-round/b-round.png)
}
.b-round_8 .l, .b-round_8 .r {
    width : 8px;
    height : 8px
}
.b-round_8 .r * {
    margin-left :- 8px
}
.b-round_8 .t {
    margin-bottom :- 8px
}
.b-round_8 .t * {
    top :- 54px
}
.b-round_8 .b {
    margin-top :- 8px
}
.b-round_8 .b * {
    top :- 62px
}
.l-head {
    width : 100 % 
}
.l-head-g {
    width : 2 % 
}
.l-head-g i, .l-head-gl i, .l-head-gr i {
    display : block;
    visibility : hidden;
    width : 20px
}
.l-head-gl i {
    width : 3.1em
}
.l-head .l-head-l {
    width : 12 % ;
    padding-top : 1em;
    text-align : center
}
.l-head-gl {
    width : 4 % 
}
.l-head-c {
    width : 60 % 
}
.l-head-gr {
    width : 4 % 
}
.b-head-logo {
    margin : auto;
    text-align : center
}
.b-head-logo .logo {
    padding : 1.1em 0 .47em
}
.b-head-logo .name
{
    font : bold 125 %/0.82em Arial,sans-serif;
	display:block;
	width:95px;
	margin:auto;
	padding:.1em 0 .25em
}
.b-dropdown, .b-dropdown ul {
    display : inline
}
.b-dropdown li {
    display : none;
    white-space : nowrap
}
.b-dropdown .visible {
    display : inline
}
.b-dropdown .visible a {
    margin-right : 8px
}
.b-dropdown .or {
    margin-right : 0!important
}
#js .b-dropdown .or {
    text-decoration : none
}
.b-dropdown-popup {
    position : absolute;
    z-index : 9999;
    display : inline;
    margin :- 4px 0 0-10px;
    background : #fff
}
[class^=b-dropdown].b-dropdown-popup {
    background : none
}
.b-dropdown-popup iframe {
    position : absolute;
    z-index :- 1;
    width : 100 % ;
    height : 100 % ;
    display : none;
    background : #fff
}
[class^=b-dropdown].b-dropdown-popup iframe {
    display : block
}
.b-dropdown-popup .b-dropdown {
    display : block;
    border : 1px solid #fff
}
.b-dropdown-popup .b-dropdown ul {
    display : block;
    padding : 1px 1px 3px;
    border : 1px solid #bfbfbf
}
.b-dropdown-popup .b-dropdown li {
    display : block;
    padding : 1px 9px 4px 7px
}
.b-dropdown-popup .b-dropdown .line {
    margin : 1px 3px 0;
    padding : 3px 4px 4px 4px;
    border-top : 1px solid #ddd
}
.b-pseudo-link {
    white-space : nowrap;
    color : #1a3dc1
}
.b-pseudo-link : link, .b-pseudo-link : visited {
    cursor : pointer
}
#js .b-pseudo-link : hover, .b-pseudo-link : link : hover, .b-pseudo-link : visited : hover {
    color : #f00!important
}
#js .b-pseudo-link
{
    position : relative;
    top :- 0.14em;
    cursor : pointer;
    text-decoration : none;
    border-bottom : 1px dotted
}
#js .b-pseudo-link span {
    position : relative;
    top : .14em
}
#js .b-dropdown .b-pseudo-link {
    margin-right : 8px
}
.b-dropdown .or-text .b-pseudo-link {
    margin-right : 0
}
.b-dropdown .arrow {
    display : none
}
#js .b-dropdown .arrow {
    display : inline;
    margin-left :- 8px;
    padding-right : 16px
}
.b-dropdown .arrow .b-icon {
    width : 14px;
    height : 11px;
    margin : .3em 0 0 0
}
.b-dropdown .arrow .b-icon i
{
    top :- 11px;
    width : 152px;
    height : 45px;
    margin-left :- 3px;
    background : url(//lego.static.yandex.net/2.0/common/block/b-dropdown/arrow/b-dropdown.arrow1.png)
}
.b-head-tabs {
    margin : 0 10px .85em 0
}
.b-head-tabs td {
    padding : 3px 15px 3px 0;
    line-height : 1.27em;
    white-space : nowrap
}
.b-head-tabs .more {
    padding-right : 0
}
body .b-head-tabs a {
    color : #1a3dc1
}
.b-dropdown .or : hover .b-pseudo-link {
    color : #f00
}
.b-dropdown .or : hover .arrow .b-icon i {
    left :- 19px
}
.b-head-search {
    position : relative;
    z-index : 9;
    margin-left :- 6px
}
.b-head-search .wrap {
    padding : 5px 6.5 % .55em 6px
}
.b-search {
    width : 100 % 
}
.b-search .under {
    height : 18px
}
.b-search .input-i {
    position : relative;
    min-width : 3.2em
}
.b-search .input, .b-search .input input
{
    width : 100 % ;
    box-sizing : border-box;
    -moz-box-sizing : border-box;
    -webkit-box-sizing : border-box
}
.b-search .input {
    vertical-align : middle
}
.b-search .button {
    padding-left : 6px;
    vertical-align : middle
}
.b-user, .b-user * , .b-user a : link {
    font-weight : bold;
    color : #000!important
}
.b-user a, .b-user a b {
    text-decoration : underline!important
}
.b-user b, .b-user a : hover {
    color : #f00!important
}
.b-head-userinfo {
    width : 100 % ;
    margin-top : .25em
}
.b-head-userinfo td {
    height : 1.6em
}
.b-head-userinfo .entry, .b-head-userinfo .exit {
    width : 1 % ;
    padding-left : 1em;
    text-align : right
}
.b-head-userinfo .entry a {
    color : #070!important
}
.b-head-userinfo .exit a {
    color : #666
}
.b-head-userinfo .user .b-dropdown .or : hover * {
    color : #f00!important
}
.b-head-userinfo .user .b-dropdown .or : hover .arrow .b-icon i {
    left :- 19px
}
.b-head-userinfo .user a {
    white-space : nowrap
}
.b-head-userinfo .user .b-user * {
    text-decoration : none!important
}
.b-head-userinfo .user .b-dropdown .or .b-pseudo-link {
    color : #000
}
.b-head-userinfo .user .b-dropdown .arrow .b-icon {
    margin-top : .2em
}
.b-head-userinfo .user .b-dropdown .arrow .b-icon i {
    left :- 76px
}
.b-head-userinfo .region, .b-head-userinfo .region a, .b-head-userinfo .region a : link {
    color : #666
}
.b-head-userinfo .region strong {
    font-weight : 400
}
.b-local
{
    font : bold 85 % Verdana, sans-serif;
    position : relative;
    min-height : 25px;
    margin-top : .5em;
    padding-left : 32px
}
.b-local a {
    text-decoration : none
}
.b-local b {
    position : relative;
    top : .5em;
    color : #12b31b
}
.b-local-disabled b {
    top : 0;
    color : #c01200
}
.b-local .b-icon {
    top : 50 % ;
    width : 24px;
    height : 25px;
    margin :- 12px 0 0-32px
}
.b-local .b-icon i
{
    width : 48px;
    height : 36px;
    background : url(//img.yandex.net/i/block/b-local/b-local.png)
}
.b-local-disabled .b-icon i {
    left :- 24px
}
.b-local_small {
    font-weight : 400;
    min-height : 0;
    padding-left : 14px
}
.b-local_small .b-icon {
    width : 11px;
    height : 11px;
    margin :- 5px 0 0-14px
}
.b-local_small .b-icon i {
    margin-top :- 25px
}
.b-local_small b {
    top : 0
}
.b-static-text h2, .b-static-text h3 {
    font-size : 1.8em;
    font-weight : normal;
    margin : 1.5em 0 .7em 0
}
.b-static-text h3 {
    font-size : 1.6em;
    margin : 1em 0 .5em 0
}
.b-static-text h4 {
    font-size : 1.4em;
    margin : .6em 0 .5em 0
}
.b-static-text p {
    margin-bottom : .8em
}
.b-static-text ul, .b-static-text ol {
    margin-bottom : 1em
}
.b-static-text li {
    margin : 0 .2em .3em 2.5em
}
.b-static-text ol li {
    list-style : decimal
}
.b-static-text ul li {
    list-style : disc
}
.b-static-text li li {
    margin-left : 1.1em;
    list-style : circle
}
.b-static-text hr {
    height : 0;
    margin : 1em 0;
    padding : 0;
    border : 0;
    border-bottom : 1px solid #c5c8d0
}
.b-static-text b {
    font-weight : bold
}
.b-static-text i {
    font-style : italic
}
.b-static-text dt {
    font-weight : bold;
    margin-bottom : .5em
}
.b-static-text dd {
    margin-left : 2em;
    margin-bottom : 1em
}
.b-hmenu .item {
    padding : 0 .8em;
    line-height : 1.4em;
    white-space : nowrap;
    vertical-align : middle
}
.b-hmenu .first {
    padding-left : 0
}
.b-hmenu .last {
    padding-right : 0
}
.b-foot
{
    font-size : 85 % ;
    clear : left;
    margin-top : 3em;
    padding-top : 10px;
    border-top : 1px solid #C5C8D0
}
.b-foot span {
    white-space : nowrap
}
.b-foot li {
    position : absolute;
    overflow : hidden;
    padding : 0 0 1.6em
}
.b-foot .copyright {
    left : 74 % ;
    width : 24 % 
}
.b-foot .design {
    left : 2 % ;
    width : 30 % 
}
.b-foot .design img {
    float : left;
    margin :- 1.05em 1.1em 0 0
}
.b-foot .design i {
    display : block;
    margin-left : 90px;
    padding-left : 1.1em
}
.b-foot .b-local {
    font-size : 100 % 
}
.b-foot .pda {
    margin-top : 1em
}
.b-foot .pda a {
    color : #070
}
.b-foot_4columns .design {
    width : 28 % 
}
.b-foot_4columns .info {
    left : 32 % ;
    width : 16 % 
}
.b-foot_4columns .stat {
    left : 50 % ;
    width : 22 % 
}
 * html .g-png
{
    zoom : expression(runtimeStyle.zoom = 1, runtimeStyle.filter += "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + getElementsByTagName("img")[0].src + "')");
    background : none
}
 * html * .g-png png
{
    font-size : 0;
    p\osition : absolute;
    width : expression(runtimeStyle.width = parentNode.offsetWidth + "px");
    height : expression(runtimeStyle.height = parentNode.offsetHeight + "px")
}
 * html .g-png img
{
    visibility : expression(runtimeStyle.visibility = "hidden", parentNode.insertBefore(createElement("png"), 
    this))
}
 * html a.g-png, * html a .g-png, * html .g-png a {
    cursor : hand
}
 * html .g-png
{
    background : no-repeat;
    background-image : expression(runtimeStyle.backgroundImage = "url(" + getElementsByTagName("img")[0].src.replace(".png", 
    ".gif") + ")")
}
 * html * .g-png {
    background : none
}
.b-head-logo .name {
    color : #fff;
    background : #f90
}
.b-head-logo .name a {
    color : #fff!important
}
.b-city-info {
    position : relative
}
.b-city-info td {
    padding : .5em 0
}
.b-city-info .weather {
    display : block;
    margin-left : 24px
}
.b-city-info .temp {
    position : relative;
    top : 2px;
    left : 5px
}
.b-city-info .temp i {
    padding : .3em
}
.b-city-info .name {
    display : block;
    margin-left : 10px
}
.b-navigation-city {
    margin-top : 3em
}
.b-navigation-city h2 {
    margin-right : .5em
}
.b-navigation-city h2, .b-navigation-city h2 a {
    color : #060
}
.b-navigation-city h2 b, .b-navigation-city h2 a {
    white-space : nowrap
}
.b-navigation-city h2 b {
    font-size : 150 % 
}
.b-navigation-city .city {
    position : relative
}
.b-navigation-city .city a, .b-navigation-city .city span {
    position : absolute;
    margin-top :- 1.5em;
    color : #060;
    white-space : nowrap
}
.b-navigation-city .b-dropdown, .b-navigation-city .weather {
    position : relative;
    top : 4px;
    display : block
}
.b-climate-info {
    position : relative;
    width : 52 % ;
    margin : 1em 0 0 10 % 
}
.b-climate-info i {
    display : block;
    margin-bottom : 1.5em
}
.b-head-climate {
    font : bold 120 % Arial, sans-serif!important;
    padding-top : 20px
}
.b-climate-info .b-head-climate {
    padding-bottom : 20px
}
.l-city {
    width : 100 % 
}
.l-city-g {
    width : 2 % 
}
.l-city-g i {
    display : block;
    width : 20px
}
.l-city-l {
    width : 1em
}
.l-city-c {
    width : 8em;
    white-space : nowrap
}
.l-city-c, .l-city-r {
    padding-left : 1em
}
.l-city-r {
    width : 85 % 
}
.l-info {
    width : 100 % 
}
.l-info-g {
    width : 2 % 
}
.l-info-g i {
    display : block;
    width : 20px
}
.l-info-l, .l-info-r {
    width : 30 % 
}
.l-info-c {
    width : 32 % 
}
.b-info {
    margin : 1em 0 2em
}
.b-info h2 {
    font-weight : bold
}
.b-icon i {
    width : 160px;
    height : 74px;
    background : url(../i/icons.png)
}
.b-icon_note {
    margin-top : 2px
}
.b-icon_bignote {
    width : 29px;
    height : 25px;
    margin-top : 1px;
    margin-left :- 40px
}
.b-icon_note i {
    left :- 32px
}
.b-icon_mark {
    margin-left : 3px
}
.b-icon_mark i {
    left :- 48px
}
.b-icon_grab {
    width : 7px;
    height : 13px;
    margin-left : 0
}
.b-icon_grab i {
    top :- 1px;
    left :- 69px
}
.b-icon_slider i, .b-icon_bignote i {
    left :- 64px
}
.b-icon_term, .b-icon_term i {
    background-color : transparent!important
}
.b-icon_term {
    width : 7px;
    height : 4px;
    margin-left : 0
}
.b-icon_term i {
    top :- 6px;
    left :- 85px!important
}
.b-icon_bignote i, .b-icon_snow i, .b-icon_sun i {
    top :- 19px
}
.b-icon_snow_on i, .b-icon_sun_on i {
    top :- 47px
}
.b-icon_snow, .b-icon_sun {
    width : 25px;
    height : 26px;
    margin-left : 0;
    cursor : pointer
}
.b-icon_snow i {
    left :- 4px
}
.b-icon_sun i {
    left :- 36px
}
.b-icon_brief {
    width : 17px;
    height : 5px;
    margin-top : 5px
}
.b-icon_brief i {
    top :- 27px;
    left :- 104px
}
.b-icon_details {
    width : 15px;
    height : 12px;
    margin-top : 2px
}
.b-icon_details i {
    top :- 2px;
    left :- 96px
}
.b-icon_climate {
    width : 13px;
    height : 11px;
    margin-top : 2px
}
.b-icon_climate i {
    top :- 2px;
    left :- 111px
}
.b-icon_print {
    width : 13px
}
.b-icon_print i {
    top :- 22px;
    left :- 138px
}
.b-icon_lego i
{
    width : 400px;
    height : 16px;
    background : url(//yandex.st/lego/2.2.6/common/block/b-service-icon/_png24-sprite/b-service-icon_all.png)
}
.b-icon_lego_market i {
    left :- 176px
}
.b-icon_lego_news i {
    left :- 240px
}
.b-info_meteo {
    margin-top : 1.15em;
    line-height : 1.25em
}
.b-info_news {
    line-height : 1.25em
}
.b-info_news li {
    margin-bottom : .35em;
    list-style : none
}
.b-info_news i {
    font-size : 70 % ;
    color : #666
}
.b-info_news .last {
    margin-top : .5em
}
.b-info_news .last a {
    color : #000
}
.b-info_market {
    line-height : 1.25em
}
.b-info_market li {
    margin-bottom : .35em;
    list-style : none
}
.b-info_market i {
    font-size : 70 % ;
    color : #666
}
.b-info_market .last {
    margin-top : .5em
}
.b-info_market .last a {
    color : #000
}
.b-info_bar {
    line-height : 1.25em
}
.b-info_bar h2
{
    margin-left :- 19px;
    padding-left : 19px;
    background : url(http://img.yandex.net/i/bar.gif) no-repeat 0 50%
}
.b-info_bar a {
    font-weight : normal
}
.b-info_blogs {
    line-height : 1.25em
}
.b-info_blogs h2 {
    margin-left :- 19px;
    padding-left : 19px;
    background : url(../i/blogi.gif) no-repeat 0 50 % 
}
.b-info_blogs li {
    margin-bottom : .35em;
    list-style : none
}
.b-info_blogs i {
    font-size : 70 % ;
    color : #666
}
.b-info_links {
    position : relative;
    width : 350px;
    margin-top : 0
}
.b-info_links li {
    list-style : none
}
.b-info_links h3 {
    font-size : 140 % ;
    margin-bottom : .5em;
    padding : 0
}
.b-info_links .game {
    margin-top : 1em
}
.b-info_links .no-data .title {
    font-size : 110 % ;
    margin-bottom : .8em
}
.b-info_links .no-data table {
    width : 100 % 
}
.b-info_links .no-data .image {
    width : 1 % ;
    padding-right : 1em
}
.b-info_links .no-data dl {
    margin-left : 20px
}
.b-info_links .no-data dd {
    margin-bottom : 1em
}
.b-info_links .no-data i {
    position : absolute;
    width : 16px;
    height : 16px;
    margin-left :- 20px
}
.b-info_links .data ul {
    margin-top : 1em
}
.b-info_links .data li {
    min-height : 0;
    margin-bottom : .8em;
    padding : 0
}
.b-info_extremum h2 {
    white-space : nowrap
}
.b-info_extremum .content {
    margin-top : .2em
}
.b-info_extremum li {
    display : inline;
    padding-right : .3em
}
.b-info_extremum .top, .b-info_extremum .bot {
    font : bold 130 % Arial, sans-serif
}
.b-info_extremum .top {
    color : #ff7200
}
.b-info_extremum .bot {
    color : #006cff
}
.b-info_cities {
    margin :- 0.2em 0 0 25 % 
}
.b-info_cities h2 {
    font-size : 140 % ;
    font-weight : normal;
    margin-top :- 0.35em;
    line-height : 1.3em
}
.b-info_cities h2 b {
    float : left;
    padding-right : 16px;
    background : url(../i/new.gif) no-repeat 100 % 50 % 
}
.b-info_cities h2 i {
    font-size : 50 % 
}
.b-info_cities li {
    padding : .3em 0 .1em 0;
    list-style : none
}
.b-info_other {
    position : absolute;
    bottom :- 2.5em;
    width : 30 % ;
    margin-bottom : 0
}
.b-info_other h2 {
    font-weight : normal;
    float : left;
    margin-right : .2em
}
.b-info_other h2 : after {
    content : ":"
}
.b-info_other .maps li {
    margin-right : 1em
}
.b-info_volcano {
    margin-top : 1.15em;
    line-height : 1.25em
}
.b-info_volcano h2 {
    margin-bottom : .5em
}
.b-weather-navigation {
    width : 98%;
    margin : 1.5em 0 0 2%;
    text-transform : lowercase
}
.b-weather-navigation li {
    float : left;
    margin-right : 1em;
    list-style : none
}
.b-weather-navigation li b, .b-weather-navigation li a {
    display : block;
    padding : .2em 1.3em .2em 2.5em
}
.b-weather-navigation .short {
    display : block;
    padding-left : .5em
}
.b-weather-navigation .current a, .b-weather-navigation .current b {
    background-color : #ffeeac
}
.b-weather-navigation .print {
    position : absolute;
    right : 0;
    padding-top : 2px
}
#js .b-weather-navigation .print {
    display : block
}
.b-weather-navigation .print a {
    font-size : 85 % ;
    color : #1d3353
}
.b-weather-options {
    margin-top : .7em
}
.b-weather-options li {
    float : left;
    margin-right : .5em;
    padding : .3em .7em;
    text-align : center;
    list-style : none
}
.b-weather-options .current {
    background : #ffeeac
}
.b-weather-options .current .b-pseudo-link {
    cursor : default!important;
    border : 0!important
}
.b-weather-options .current .b-pseudo-link, #js .b-weather-options .current .b-pseudo-link : hover, 
.b-weather-options .current .b-pseudo-link : link : hover, .b-weather-options .current .b-pseudo-link : visited : hover {
    color : #000!important
}
.b-maps-nav {
    margin-bottom : 2em
}
.b-maps-nav, .b-maps-nav .title {
    margin-top : 1em
}
.b-maps-nav .title {
    font-weight : bold;
    margin-bottom : .5em
}
.b-maps-nav .nav {
    margin-top : .5em
}
.b-maps-nav .nav li {
    margin-bottom : .5em
}
.l-maps-nav-l {
    padding-right : 20px
}
.l-cities {
    width : 100 % 
}
.l-cities-g {
    width : 2 % 
}
.l-cities-g i {
    display : block;
    width : 20px
}
.l-cities-l, .l-cities-c1, .l-cities-c2 {
    width : 22 % 
}
.b-columns {
    position : relative
}
.b-columns p {
    margin-bottom :- 1.7em;
    padding : 1.35em 0 0 18 % 
}
.b-columns h2 {
    font-size : 190 % ;
    font-weight : normal;
    padding : 1em 0 0 18 % 
}
.b-columns div {
    clear : both;
    margin-left : 2 % 
}
.b-columns div div {
    display : inline;
    float : left;
    clear : none;
    overflow : hidden;
    width : 22 % ;
    margin : 0 2.55 % 0 0
}
.b-columns h3 {
    padding : 1.8em 0 .3em 2.4em
}
.b-columns h3 b {
    font-size : 130 % ;
    font-weight : bold
}
.b-columns h3 i {
    font-family : Verdana, sans-serif;
    font-size : .6em;
    display : block;
    margin : .1em 0 1.1em 0
}
.b-columns li {
    padding : 0 0 .6em 2.1em
}
.b-columns li b
{
    font-family : Tahoma, sans-serif;
    font-size : .7em;
    position : absolute;
    left : auto;
    width : 2.2em;
    height : 2.2em;
    margin :- 0.2em 0 0-3.3em;
    padding : 0 .2em;
    text-align : center;
    vertical-align : middle;
    line-height : 2.2em;
    color : #000
}
.b-columns .gettour a {
    color : #060
}
.b-columns .swim {
    display : none
}
.b-columns_city h3 {
    padding-left : 2.6em
}
.b-columns_city li {
    padding-left : 2.3em
}
.b-notify {
    height : 1.4em;
    color : #f00
}
.b-region ul {
    margin-bottom : 4em
}
.b-region li {
    margin-left : 1.3em;
    margin-bottom : .8em;
    list-style : none
}
.b-region input {
    margin-left :- 1.3em
}
.b-region .js-suggest {
    margin-left : 0;
    margin-top : .5em
}
.b-region .info {
    margin-bottom : .5em
}
.b-region .nojs-message {
    color : #080
}
#js .b-region .nojs-message {
    display : none
}
#js .b-region .b-other-city-title {
    display : none
}
#nojs .b-region .b-other-city {
    display : none
}
.b-region .b-hint-input {
    top : .5em
}
.b-region label {
    position : relative;
    top :- 1px
}
#nojs .b-tune-field {
    display : none
}
.b-map-head {
    margin : 2em 0 0 18 % 
}
.b-map-head .title {
    font-size : 190 % ;
    font-weight : normal;
    margin-bottom : .1em
}
.b-map-head .type {
    font-size : 150 % 
}
.l-page-map {
    width : 100 % ;
    margin-top : 2em
}
.l-page-map-g {
    width : 2 % 
}
.l-page-map-g i {
    display : block;
    width : 20px
}
.l-page-map-l, .l-page-map-r {
    width : 16 % 
}
.l-page-map-i {
    margin-right : 20px
}
#nojs .l-page-map-i, #nojs .l-page-map-l {
    display : none
}
.b-map-type .title {
    font-size : 120 % ;
    font-weight : bold;
    margin-bottom : 1em
}
.i-map-type {
    margin-right : 20px
}
.b-map-type .regions {
    position : relative;
    left :- 0.5em;
    width : 11em
}
.b-map-type .regions li {
    margin-bottom : .1em;
    padding : .3em .5em
}
.b-map-type .regions .current {
    background : #ffeeac
}
#js .b-map-type .regions .current a {
    cursor : default;
    color : #000;
    border-color : #FFEEAC
}
.b-map-type .text .regions, .b-map-type .text li {
    margin : 0
}
.b-map-type .specific .img {
    margin : .5em 0 1em 0
}
.b-map-type .h-specific {
    margin-top : 5em
}
.b-map-type .other .l {
    padding-right : 3em
}
.b-map-type .other .name {
    font-size : 130 % ;
    white-space : nowrap
}
.b-map-type .other .img {
    display : block;
    margin-top : .5em
}
.b-map-player {
    border : 1px solid #b9b8b8
}
.b-map-player td {
    padding : 2px 0 0
}
.b-map-player-l, .b-map-player-r {
    width : 2px;
    padding : 0;
    background : #fafafa url(../i/player_bg.png) no-repeat left top
}
.b-map-player-l i, .b-map-player-r i {
    display : block;
    width : 2px
}
.b-map-player-c {
    background : #fafafa
}
.b-map-player-c-r2 {
    background : #fafafa url(../i/bg-opt.png) repeat-x left bottom
}
.b-map-player .player {
    position : relative;
    padding : 2px;
    border : 1px solid #b9b8b8
}
.b-map-player .player .play {
    position : relative;
    display : block
}
.b-map-player .player .old, .b-map-player .player .new {
    position : absolute;
    left : 0;
    top : 50px
}
.b-map-player .player .scale_temp {
    position : absolute;
    width : 668px;
    height : 50px;
    text-align : center;
    background : #12426e
}
.b-map-player .icon
{
    position : absolute;
    z-index : 11;
    top : 193px;
    left : 257px;
    width : 159px;
    height : 159px;
    cursor : pointer;
    background : url(../i/player/play.png) no-repeat
}
.b-map-player_on .icon {
    display : none
}
.b-map-player-menu {
    position : relative;
    height : 30px;
    padding : 2px 6px;
    color : #707070
}
.b-map-player-menu .play, .b-map-player-menu .pause, .b-map-player-menu .count, .b-map-player-menu .time, 
.b-map-player-menu .kadr {
    float : left;
    margin-right : .5em
}
.b-map-player-menu .play, .b-map-player-menu .pause {
    position : relative;
    width : 20px;
    height : 20px
}
.b-map-player-menu .play .b-icon, .b-map-player-menu .pause .b-icon {
    width : 14px;
    height : 15px;
    margin : 5px 0 0 0
}
.b-map-player-menu .pause .b-icon {
    width : 10px
}
.b-map-player-menu .b-icon i {
    width : 58px;
    height : 19px;
    background : url(../i/player/icon-player.png) no-repeat
}
.b-map-player-menu .pause .b-icon i {
    left :- 14px
}
.b-map-player-menu .play .text, .b-map-player-menu .pause .text {
    display : none
}
.b-map-player-menu .count {
    min-width : 35px;
    margin-top : 4px
}
.b-map-player-menu .time {
    font-size : 90 % ;
    position : relative;
    width : 190px;
    height : 20px
}
.b-map-player-menu .load
{
    position : relative;
    top : 7px;
    float : left;
    width : 161px;
    height : 6px;
    background : url(../i/player/slider.png) no-repeat
}
.b-map-player-menu .load .progbar
{
    position : absolute;
    top : 1px;
    left : 0;
    height : 100 % ;
    background : url(../i/player/progbar.png) repeat-x
}
.b-map-player-menu .load .text {
    display : none
}
.b-map-player-menu .b-icon-slider {
    position : absolute;
    top :- 4px;
    left : 100 % ;
    width : 14px;
    height : 14px;
    margin-left :- 3px
}
.b-map-player-menu .b-icon-slider i {
    left :- 24px
}
.b-map-player-menu .kadr {
    position : relative;
    height : 20px
}
.b-map-player-menu .back, .b-map-player-menu .forward {
    float : left;
    width : 10px;
    height : 19px;
    margin-right : .5em
}
.b-map-player-menu .forward {
    margin-right : 0;
    margin-left : .5em
}
.b-map-player-menu .back .b-icon, .b-map-player-menu .forward .b-icon {
    width : 10px;
    height : 19px;
    margin : 4px 0 0 0
}
.b-map-player-menu .back .b-icon i {
    left :- 48px
}
.b-map-player-menu .forward .b-icon i {
    left :- 38px
}
.b-map-player-menu .back .text, .b-map-player-menu .forward .text {
    display : none
}
.b-map-player-menu .thumb
{
    overflow : hidden;
    float : left;
    width : 212px;
    height : 26px;
    background : #000;
    border : 2px solid #b9b8b8
}
.b-map-player-menu .thumb li
{
    position : relative;
    float : left;
    width : 31px;
    height : 20px;
    margin : 2px 0 0 2px;
    border : 1px solid #fff
}
.b-map-player-menu .thumb .dis
{
    font-size : 120 % ;
    position : absolute;
    top : 0;
    left : 0;
    width : 31px;
    height : 20px;
    text-align : center;
    background : url(../i/player/disable.png)
}
.b-map-player-menu .thumb a : hover .dis, .b-map-player-menu .thumb .current .dis {
    display : none
}
.b-map-player-menu .thumb a {
    text-decoration : none;
    color : #707070
}
.b-map-menu {
    font-size : 130 % ;
    margin-bottom : 1em
}
#nojs .b-map-menu {
    display : none
}
.b-map-api .map {
    position : relative;
    border : 1px solid #F90
}
.b-map-forecast {
    margin-bottom : 1em
}
.b-map-forecast .day {
    font-size : 120 % ;
    margin-right : 20px
}
.b-balloon .icon {
    position : absolute;
    top : 3px;
    left : 8px
}
.b-balloon .temp {
    font-size : 115 % ;
    width : 25px;
    position : absolute;
    top : 7px;
    text-align : center
}
.b-balloon_1 .temp {
    left : 35px
}
.b-balloon_2 .temp {
    left : 58px
}
.b-link2map {
    margin-top : 1em
}
.b-link2map__inputblock {
    visibility : hidden
}
.b-link2map__close
{
    padding : 0 20px 0 0;
    cursor : pointer;
    background : transparent url(../i/delete.gif) no-repeat scroll center center
}
.b-link2map__open .b-link2map__link {
    display : none
}
.b-link2map__open .b-link2map__inputblock {
    visibility : visible
}
.b-link2map__open .b-link2map__input {
    width : 300px
}
.b-hlist, .b-hlist li {
    display : inline;
    list-style : none
}
.b-hlist li : first-child : before {
    content : ""
}
.b-hlist-middot li : before {
    content : "\a0\b7\20"
}
.b-slider {
    position : relative;
    width : 250px;
    height : 45px!important
}
.l-slider-l, .l-slider-r {
    width : 24px;
    height : 26px
}
.b-slider .scale
{
    position : absolute;
    z-index : 1;
    bottom : 5px;
    left : 0;
    width : 250px;
    height : 5px;
    background : url(../i/delivery/slider-scale.gif) no-repeat
}
.b-slider .grab
{
    position : absolute;
    z-index : 2;
    bottom :- 4px;
    left : 10px;
    visibility : hidden;
    width : 7px;
    height : 13px
}
.b-slider .value {
    position : absolute;
    z-index : 2;
    bottom : 20px;
    left : 0;
    padding : 2px 3px
}
.clickable {
    cursor : pointer
}
.b-slider-swim {
    margin : 1em 0
}
.b-slider-swim input, .b-slider-swim label {
    vertical-align : middle
}
.b-slider-code {
    margin-top : 1.5em;
    padding-bottom : .5em
}
.b-slider-code a {
    color : #37d!important
}
.b-html-code {
    width : 290px;
    padding : .4em 8px
}
.b-html-code textarea {
    width : 280px;
    height : 6em;
    margin : .3em 0
}
body .Weather-Delivery .y5-w-content {
    margin : 0!important
}
body .Weather-Delivery.y5-w-window .y5-w-frame {
    border : 1px solid #BBD;
    background : #DCE3F6
}
body .y5-w-menu .y5-w-menu-item {
    margin : 1px 0;
    padding : 0;
    border : 0
}
body .y5-w-menu .y5-w-menu-item .temp {
    margin-left : 10px
}
body .y5-w-menu .y5-w-menu-item a, body .y5-w-menu .y5-w-menu-item a : visited {
    color : #333
}
body .y5-w-menu .y5-w-menu-item-active {
    background-color : Highlight
}
body .y5-w-menu .y5-w-menu-item-active a {
    color : HighlightText!important
}
.b-bandit {
    position : relative;
    width : 350px;
    min-height : 250px
}
.b-bandit__head {
    font-size : 180 % 
}
.b-bandit__automat
{
    width : 288px;
    height : 200px;
    margin : 5px 0 0 0;
    background : url(../i/1april/one_armed_bandit.png) no-repeat
}
.b-bandit__weekday
{
    font-size : 100 % ;
    font-weight : normal;
    width : 33 %!important;
    height : 76px;
    vertical-align : bottom;
    white-space : nowrap
}
.b-bandit__weekend
{
    font-size : 100 % ;
    font-weight : normal;
    width : 33 %!important;
    height : 76px;
    vertical-align : bottom;
    white-space : nowrap;
    color : #F30
}
.b-bandit__weekday__wrapper {
    padding : 0 10px 10px 15px
}
.b-bandit__weekday__dayname {
    font-size : 190 % ;
    display : block;
    margin : 0
}
.b-bandit__precipitation {
    font-size : 85 % ;
    height : 86px;
    padding : 0 10px 0 15px
}
.b-bandit__temperature {
    height : 38px;
    vertical-align : bottom
}
.b-bandit__temperature__wrapper {
    padding : 0 10px 8px 15px
}
.b-bandit__light, .b-bandit__dark {
    font-size : 165 % ;
    display : block;
    margin : 0;
    white-space : nowrap
}
.b-bandit__dark {
    font-size : 100 % ;
    color : #71716f
}
.b-bandit__hint {
    font-size : 120 % ;
    height : 2em;
    margin-top : 10px
}
.b-bandit__automat .b-wea-icon {
    display : block;
    float : none;
    margin-bottom : .6em
}
.b-bandit__automat .b-wea-icon img {
    display : block
}
.b-bandit__arm {
    position : absolute;
    top : 4em;
    left : 288px
}
.b-bandit__arm .arm {
    cursor : pointer
}
.b-1april-message {
    padding : 1em 0;
    width : 300px
}
.b-scroll-wrapper {
    position : relative;
    overflow : hidden;
    height : 86px
}
.b-scroll-wrapper, .b-scroll-wrapper .cell {
    height : 86px
}
.b-scroll-wrapper .scrollable {
    position : absolute
}
.y5-w-window {
    visibility : hidden;
    position : absolute;
    z-index : 1;
    margin : 0
}
.y5-w-window.y5-w-visible {
    visibility : visible
}
.y5-w-window-view, .y5-w-modal {
    position : absolute;
    top : 0;
    left : 0
}
.y5-w-window-view {
    z-index : 9999
}
.y5-w-modal
{
    opacity : .2;
    filter : alpha(opacity = 20);
    background : #000;
    width : expression(y5.Dom.viewport().width);
    height : expression(y5.Dom.viewport().height);
    top : expression(y5.Element.scroll(document).top);
    left : expression(y5.Element.scroll(document).left)
}
.y5-w-modal iframe
{
    filter : alpha(opacity = 0);
    background : transparent;
    position : absolute;
    top : 0;
    left : 0;
    width : 100 % ;
    height : 100 % 
}
.y5-w-modal-opera {
    background : transparent
}
.y5-w-window .y5-w-frame {
    border : 1px solid #bbd;
    background-color : white
}
.y5-w-window .y5-w-shadow, .y5-w-window .y5-w-fakeframe
{
    z-index :- 1;
    position : absolute;
    top : 0;
    left :- 3px;
    bottom :- 3px;
    right :- 3px;
    background : #001;
    -moz-border-radius : 3px;
    -webkit-border-radius : 3px;
    border-radius : 3px;
    opacity : .04;
    filter : alpha(opacity = 4);
    width : expression((this.parentNode.offsetWidth + 6) + 'px');
    height : expression((this.parentNode.offsetHeight + 3) + 'px')
}
.y5-w-window .y5-w-shadow2
{
    top : 4px;
    left :- 2px;
    bottom :- 2px;
    right :- 2px;
    width : expression((this.parentNode.offsetWidth + 4) + 'px');
    height : expression((this.parentNode.offsetHeight-2) + 'px')
}
.y5-w-window.y5-w-window-modal .y5-w-shadow
{
    top : 3px;
    left :- 2px;
    bottom :- 2px;
    right :- 2px;
    width : expression((this.parentNode.offsetWidth + 4) + 'px');
    height : expression((this.parentNode.offsetHeight-1) + 'px')
}
.y5-w-window.y5-w-window-modal .y5-w-shadow2
{
    top : 2px;
    left :- 1px;
    bottom :- 1px;
    right :- 1px;
    width : expression((this.parentNode.offsetWidth + 2) + 'px');
    height : expression((this.parentNode.offsetHeight-1) + 'px')
}
.y5-w-window .y5-w-fakeframe iframe {
    position : absolute;
    width : 100 % ;
    height : 100 % ;
    opacity : .01;
    filter : alpha(opacity = 1)
}
.y5-w-window.y5-w-popup .y5-w-content {
    margin : 1em
}
.y5-w-menu .y5-w-content {
    padding : 0
}
.y5-w-window.y5-w-menu .y5-w-shadow, .y5-w-window.y5-w-menu .y5-w-fakeframe
{
    top : 2px;
    left :- 2px;
    bottom :- 2px;
    right :- 2px;
    opacity : .07;
    filter : alpha(opacity = 7);
    width : expression((this.parentNode.offsetWidth + 4) + 'px')
}
.y5-w-window.y5-w-menu .y5-w-shadow2 {
    display : none
}
.y5-w-menu .y5-w-menu-item
{
    white-space : nowrap;
    cursor : pointer;
    padding-left : 18px;
    padding-right : 18px;
    border : 1px solid #fff;
    overflow : hidden
}
.y5-w-menu .y5-w-menu-item.new
{
    background-image : url(http://img.yandex.net/maps/i/new.gif);
	background-position:.4em .6em;
	background-repeat:no-repeat
}
.y5-w-menu .y5-w-menu-item-active {
    background-color : #7379a5
}
.y5-w-menu .y5-w-menu-item-disabled {
    opacity : .4
}
.y5-w-menu .y5-w-menu-item a, .y5-w-menu .y5-w-menu-item a : visited {
    color : #337;
    width : auto;
    display : block;
    padding : .4em .6em;
    text-decoration : none
}
.y5-w-menu .y5-w-menu-item-active a, .y5-w-menu .y5-w-menu-item-active a : visited {
    color : white
}
.y5-w-menu .y5-w-menu-item a {
    outline : none
}
 * html .y5-w-menu .y5-w-menu-item-disabled a, * html .y5-w-menu .y5-w-menu-item-disabled a : visited {
    color : #88a
}
.y5-w-menu .y5-w-menu-separator {
    margin : .3em;
    border-top : 1px solid #636995
}
.b-rasp-rotator {
    display : block;
    margin : 2em 0 0 .5em;
    line-height : 1.4em
}
.b-rasp-rotator span {
    display : block;
    text-decoration : underline
}
.b-rasp-rotator .b-icon i {
    width : 85px;
    height : 92px;
    background : url(../i/b-rasp-rotator.png) no-repeat
}
.b-rasp-rotator_plane .b-icon {
    width : 85px;
    height : 25px;
    margin :- 26px 0 0-41px
}
.b-rasp-rotator_train .b-icon {
    width : 71px;
    height : 16px;
    margin :- 17px 0 0 0
}
.b-rasp-rotator_train .b-icon i {
    top :- 25px
}
#nojs .b-hint-input {
    display : none
}
#js body .b-hint-input {
    margin : .2em .4em
}
.Weather-c-Player {
    visibility : hidden
}
.b-direct {
    margin : 1.5em 2 % 
}
#nojs .b-navigation-city a.game {
    display : none
}
.b-navigation-city a.game {
    color : #1A3DC1!important;
    margin-right : 1.5em
}
.b-head-search code, .b-head-search code input {
    display : block
}
.b-head-search .y5-autocomplete-autocomplete {
    width : 50 % 
}
.b-head-search .tips
{
    overflow : hidden;
    float : left;
    width : 100 % ;
    margin-top :- 1px;
    line-height : 1.4em;
    white-space : nowrap
}
.b-head-search .tips img {
    width : 16px;
    height : 16px;
    margin-right : 5px;
    vertical-align : middle
}
.b-head-search .tips .label {
    height : 1 % ;
    cursor : pointer;
    border-bottom : 1px dashed #000
}
.t-60, .t-60 td, .t-60 i {
    background-color : #519FDD;
    left : 0
}
.t-58, .t-58 td, .t-58 i {
    background-color : #56A2DD;
    left : 1px
}
.t-56, .t-56 td, .t-56 i {
    background-color : #5BA5DE;
    left : 3px
}
.t-54, .t-54 td, .t-54 i {
    background-color : #60A7DE;
    left : 4px
}
.t-52, .t-52 td, .t-52 i {
    background-color : #66AADF;
    left : 5px
}
.t-50, .t-50 td, .t-50 i {
    background-color : #6BADE0;
    left : 7px
}
.t-48, .t-48 td, .t-48 i {
    background-color : #70AFE0;
    left : 8px
}
.t-46, .t-46 td, .t-46 i {
    background-color : #76B2E1;
    left : 9px
}
.t-44, .t-44 td, .t-44 i {
    background-color : #7BB5E2;
    left : 11px
}
.t-42, .t-42 td, .t-42 i {
    background-color : #80B7E2;
    left : 12px
}
.t-40, .t-40 td, .t-40 i {
    background-color : #86BAE3;
    left : 13px
}
.t-38, .t-38 td, .t-38 i {
    background-color : #8BBDE3;
    left : 15px
}
.t-36, .t-36 td, .t-36 i {
    background-color : #90BFE4;
    left : 16px
}
.t-34, .t-34 td, .t-34 i {
    background-color : #95C2E5;
    left : 17px
}
.t-32, .t-32 td, .t-32 i {
    background-color : #9BC5E5;
    left : 19px
}
.t-30, .t-30 td, .t-30 i {
    background-color : #A0C7E6;
    left : 20px
}
.t-28, .t-28 td, .t-28 i {
    background-color : #A0C7E6;
    left : 21px
}
.t-26, .t-26 td, .t-26 i {
    background-color : #ABCDE7;
    left : 23px
}
.t-24, .t-24 td, .t-24 i {
    background-color : #B0CFE8;
    left : 24px
}
.t-22, .t-22 td, .t-22 i {
    background-color : #B5D2E9;
    left : 25px
}
.t-20, .t-20 td, .t-20 i {
    background-color : #BBD5E9;
    left : 27px
}
.t-18, .t-18 td, .t-18 i {
    background-color : #C0D7EA;
    left : 28px
}
.t-16, .t-16 td, .t-16 i {
    background-color : #C5DAEA;
    left : 29px
}
.t-14, .t-14 td, .t-14 i {
    background-color : #CADDEB;
    left : 31px
}
.t-12, .t-12 td, .t-12 i {
    background-color : #D0DFEC;
    left : 32px
}
.t-10, .t-10 td, .t-10 i {
    background-color : #D5E2EC;
    left : 33px
}
.t-8, .t-8 td, .t-8 i {
    background-color : #DAE5ED;
    left : 35px
}
.t-6, .t-6 td, .t-6 i {
    background-color : #E0E7EE;
    left : 36px
}
.t-4, .t-4 td, .t-4 i {
    background-color : #E5EAEE;
    left : 37px
}
.t-2, .t-2 td, .t-2 i {
    background-color : #EAEDEF;
    left : 39px
}
.t0, .t0 td, .t0 i {
    background-color : #F0EFF0;
    left : 40px
}
.t2, .t2 td, .t2 i {
    background-color : #F0F0EC;
    left : 41px
}
.t4, .t4 td, .t4 i {
    background-color : #F1F0E9;
    left : 43px
}
.t6, .t6 td, .t6 i {
    background-color : #F2F0E6;
    left : 44px
}
.t8, .t8 td, .t8 i {
    background-color : #F3F1E3;
    left : 45px
}
.t10, .t10 td, .t10 i {
    background-color : #F4F1E0;
    left : 47px
}
.t12, .t12 td, .t12 i {
    background-color : #F5F2DC;
    left : 48px
}
.t14, .t14 td, .t14 i {
    background-color : #F5F2D9;
    left : 49px
}
.t16, .t16 td, .t16 i {
    background-color : #F6F3D6;
    left : 51px
}
.t18, .t18 td, .t18 i {
    background-color : #F7F3D3;
    left : 52px
}
.t20, .t20 td, .t20 i {
    background-color : #F8F4D0;
    left : 53px
}
.t22, .t22 td, .t22 i {
    background-color : #F8F1C8;
    left : 55px
}
.t24, .t24 td, .t24 i {
    background-color : #F9EEC0;
    left : 56px
}
.t26, .t26 td, .t26 i {
    background-color : #F9EBB9;
    left : 57px
}
.t28, .t28 td, .t28 i {
    background-color : #F9E8B1;
    left : 59px
}
.t30, .t30 td, .t30 i {
    background-color : #FAE5AA;
    left : 60px
}
.t32, .t32 td, .t32 i {
    background-color : #FAE3A3;
    left : 61px
}
.t34, .t34 td, .t34 i {
    background-color : #FAE09C;
    left : 63px
}
.t36, .t36 td, .t36 i {
    background-color : #FBDE96;
    left : 64px
}
.t38, .t38 td, .t38 i {
    background-color : #FBDB8F;
    left : 65px
}
.t40, .t40 td, .t40 i {
    background-color : #FBD988;
    left : 67px
}
.t42, .t42 td, .t42 i {
    background-color : #FCD682;
    left : 68px
}
.t44, .t44 td, .t44 i {
    background-color : #FCD47B;
    left : 69px
}
.t46, .t46 td, .t46 i {
    background-color : #FCD174;
    left : 71px
}
.t48, .t48 td, .t48 i {
    background-color : #FDCF6E;
    left : 72px
}
.t50, .t50 td, .t50 i {
    background-color : #FDCC67;
    left : 73px
}
.t52, .t52 td, .t52 i {
    background-color : #FDCA60;
    left : 75px
}
.t54, .t54 td, .t54 i {
    background-color : #FEC759;
    left : 76px
}
.t56, .t56 td, .t56 i {
    background-color : #FEC553;
    left : 77px
}
.t58, .t58 td, .t58 i {
    background-color : #FEC24C;
    left : 79px
}
.t60, .t60 td, .t60 i {
    background-color : #FFC045;
    left : 80px
}
a : link {
    color : #1a3dc1
}
.b-head-t
{
    position : absolute;
    z-index :- 1;
    top : 0;
    left : 0;
    width : 100 % ;
    height : 115px;
    background-image : url(../i/weather-body.png);
    background-repeat : repeat-x
}
.b-page {
    position : relative;
    margin : .3em 0 4em 0;
    border-bottom : 1px solid #fff
}
.b-page-static {
    width : auto;
    margin : 3.5em 10 % 0 18 % 
}
.b-banner {
    position : relative;
    z-index : 2;
    margin-left : 18 % ;
    padding-bottom : 1.1em
}
.b-banner table {
    display : block!important;
    width : auto!important;
    height : auto!important
}
.b-banner a {
    text-decoration : none
}
.b-tips {
    float : right;
    background : #ffeeac url(../i/tips-lt.gif) no-repeat 0 0
}
.b-tips .lb
{
    font-family : Verdana, sans-serif;
    font-size : 85 % ;
    padding : 6px 34px 6px 9px;
    background : url(../i/tips-lb.gif) no-repeat 0 100 % 
}
.b-tips .load {
    vertical-align : middle
}
.b-tips .next {
    cursor : pointer;
    text-decoration : none;
    border-bottom : 1px dashed #000
}
.b-tips .close {
    position : relative;
    left : 21px;
    width : 7px;
    height : 7px;
    cursor : pointer
}
.b-wea-icon {
    float : left
}
.b-gale {
    width : 24px;
    height : 24px;
    background : url(../i/wind_uni.png) no-repeat 0 0
}
.b-current-weather .b-gale {
    margin-left :- 13px
}
.b-navigation {
    position : relative;
    margin : 3.3em 0 .3em 0
}
.b-navigation div.city {
    font-size : 100 % ;
    position : absolute;
    bottom : .15em;
    left : 2 % 
}
.b-navigation div.city h2 {
    font-weight : normal;
    float : left;
    margin-right : .5em;
    color : #060
}
.b-navigation div.city h2 b {
    font-size : 150 % 
}
.b-navigation div.city h2 a
{
    font-size : 100 % ;
    position : absolute;
    top :- 1.3em;
    left : .1em;
    white-space : nowrap;
    color : #060
}
.b-navigation .dropdown {
    float : left;
    margin : .35em 0 0 1.5em
}
.b-navigation .b-dropdown ul {
    padding-bottom : .3em
}
.b-navigation .b-dropdown-popup .visible {
    margin-left : 0
}
.b-navigation .b-dropdown b
{
    font : .7em Tahoma, sans-serif;
    position : absolute;
    left : auto;
    width : 2.2em;
    height : 2em;
    margin-left :- 2.3em;
    text-align : center;
    vertical-align : middle;
    line-height : 2em;
    color : #000
}
.b-current-weather {
    margin : .25em 0 0 2 % 
}
.b-current-weather td {
    font : 80 % Verdana, sans-serif;
    padding : .3em 0 0 1.5em
}
.b-current-weather .t {
    font : 195 % Arial, sans-serif;
    padding : .1em .2em .2em 0;
    background : none
}
.b-current-weather .t b
{
    position : relative;
    left :- 3px;
    display : block;
    width : 89px;
    height : 8px;
    background : url(../i/termometer.png) no-repeat 3px 5px
}
.b-current-weather .b-wea-icon {
    margin : .2em 0 0-1.3em
}
.b-current-weather div {
    font-family : Verdana, sans-serif;
    padding-bottom : .3em
}
.b-current-weather .achtung div {
    min-height : 16px;
    margin :- 0.1em 0 0 .5em;
    padding-left : 20px
}
.b-current-weather .achtung a {
    font-family : Verdana, sans-serif;
    font-size : 110 % 
}
.b-static-text li {
    margin-bottom : .8em
}
.b-static-text-brief {
    width : 52 % ;
    margin : 3.5em 0 0 10 % 
}
.b-static-text-brief h2
{
    font-size : 140 % ;
    position : relative;
    min-height : 26px;
    margin : 0 0 .5em-40px;
    padding : 6px 0 0 40px
}
.b-static-text-brief p {
    margin-bottom : 1em
}
.b-forecast-brief {
    width : 96 % ;
    margin : .25em 0 0 2 % 
}
.b-forecast-brief th {
    font-size : 100 % ;
    font-weight : normal
}
.b-forecast-brief th .today, .b-forecast-brief th b {
    font-size : 190 % ;
    display : block;
    margin : 0
}
.b-forecast-brief .today b, .b-forecast-brief .today i {
    font-size : 80 % 
}
.b-forecast-brief .today b {
    display : none
}
.b-forecast-brief .gap {
    width : 0!important;
    padding : 0
}
.b-forecast-brief .gap div {
    width : 1em
}
.b-forecast-brief th.weekend {
    color : #f30
}
.b-forecast-brief td {
    font-size : 85 % ;
    width : 10 %!important;
    padding : 1em .5em 0 .8em
}
.b-forecast-brief-9 td {
    width : 11.11 %!important
}
.b-forecast-brief-8 td {
    width : 12.5 %!important
}
.b-forecast-brief-7 td {
    width : 14.27 %!important
}
.b-forecast-brief-6 td {
    width : 16.66 %!important
}
.b-forecast-brief-5 td {
    width : 20 %!important
}
.b-forecast-brief-4 td {
    width : 25 %!important
}
.b-forecast-brief-3 td {
    width : 33.33 %!important
}
.b-forecast-brief-2 td {
    width : 50 %!important
}
.b-forecast-brief-1 td {
    width : 100 %!important
}
.b-forecast-brief td img {
    display : block
}
.b-forecast-brief .data .b-wea-icon {
    display : block;
    float : none;
    margin-bottom : .6em
}
.b-forecast-brief td {
    padding : .7em 0 .1em .8em
}
.b-forecast-brief .day td, .b-forecast-brief .night td {
    white-space : nowrap
}
.b-forecast-brief td b {
    font-size : 165 % ;
    display : block;
    margin : 0
}
.b-forecast-brief .night td {
    font-size : 95 % ;
    padding : .2em 0 .6em .8em;
    color : #666
}
.b-forecast-details {
    margin : 0 0 0 2 % 
}
.b-forecast-details th {
    font-weight : normal;
    padding : 0 .3em .3em 0
}
.b-forecast-details th i {
    font-size : 150 % ;
    line-height : .8em;
    background : none
}
.b-forecast-details .weekend th {
    color : #f30
}
.b-forecast-details .weekend th i {
    color : #f64
}
.b-forecast-details th b {
    font-size : 380 % ;
    font-weight : normal;
    position : static;
    line-height : .9em
}
.b-forecast-details th span {
    font-size : 130 % ;
    display : block
}
.b-forecast-details td {
    padding : .55em .5em .3em .5em
}
.b-forecast-details th, .b-forecast-details .dawn-dark {
    background : #fff
}
.b-forecast-details .header th {
    font-size : 100 % ;
    font-weight : normal;
    padding : .85em 0 .2em .5em
}
.b-forecast-details .header th.wind {
    padding-left : 18px
}
.b-forecast-details .dawn-dark, .b-forecast-details .near .dawn-dark {
    padding : 0 .8em .3em 1em
}
.b-forecast-details td dl {
    padding : 0 0 .25em .5em
}
.b-forecast-details td dt, .b-forecast-details td dd {
    font-family : Verdana, sans-serif;
    font-size : 85 % 
}
.b-forecast-details td dt {
    padding-top : .1em;
    line-height : 1.2em
}
.b-forecast-details td dd {
    margin-bottom : .4em
}
.b-forecast-details .near td {
    padding-top : 1em
}
.b-forecast-details .near td.t {
    padding-top : 0;
    padding-left : .7em
}
.b-forecast-details td.t {
    padding-top : .65em
}
.b-forecast-details td.t strong
{
    font-family : Verdana, sans-serif;
    font-size : 85 % ;
    font-weight : normal;
    display : block;
    line-height : 1.3em;
    color : #666
}
.b-forecast-details td.t span {
    font-size : 150 % ;
    white-space : nowrap
}
.b-forecast-details .b-wea-icon {
    position : relative;
    top : 1px;
    left : auto
}
.b-forecast-details td.data {
    width : 10.3em;
    line-height : 1.25em
}
.b-forecast-details td.wind {
    padding-left : 7px;
    vertical-align : top
}
.b-forecast-details td.wind img {
    position : relative;
    top :- 5px;
    vertical-align : top
}
.b-forecast-details td.moisture {
    padding-right : .8em;
    padding-left : 0;
    text-align : right
}
.b-forecast-details td.addon {
    width : 13em;
    padding-left : 1.3em;
    background : #fff
}
.b-forecast-details td.addon p {
    margin-bottom : .5em
}
.b-countries h3, .b-countries li {
    padding-left : 0!important
}
.b-new-cities {
    margin-left : 18 % 
}
.b-new-cities h2 {
    padding-left : 0
}
.b-new-cities .b-columns div {
    position : relative;
    width : 100 % ;
    margin : 0 0 .8em-2.4em
}
.b-new-cities .b-columns div div {
    display : block;
    float : none;
    overflow : visible;
    width : auto;
    margin : 0
}
.b-new-cities .b-columns ul {
    float : left;
    clear : none;
    overflow : hidden;
    width : 27 % ;
    margin : 0 2.4 % 0 0
}
.b-climate {
    width : 56 % ;
    margin : 2em 0 0 2 % 
}
.b-climate th, .b-climate td {
    padding : .8em .5em .2em .2em;
    text-align : right
}
.b-climate td {
    padding : .8em .5em 1.2em .2em;
    text-align : right
}
.b-climate tbody th {
    width : 16 %!important;
    text-align : left
}
.b-map {
    width : 100 % 
}
.b-map td {
    width : 2 % 
}
.b-map .links {
    width : 16 % 
}
.b-map .links dl {
    margin-top :- 1.7em
}
.b-map .links dt {
    clear : left;
    padding-top : 1.8em;
    padding-bottom : .15em
}
.b-map .links dd {
    float : left;
    clear : left;
    padding-bottom : .15em;
    line-height : 1.25em
}
.b-map .links img, .b-map .links a img {
    display : block;
    margin :- 0.1em 0-0.1em 0;
    border : 1px solid #ddd
}
.b-map .links b, .b-map .links span {
    position : relative;
    left :- 0.55em;
    float : left;
    padding : .3em .5em .3em .5em
}
.b-map .links b {
    background : #ffeeac
}
.b-map .map {
    width : auto;
    padding-top : 1.7em
}
.b-search-result {
    padding : .7em 18 % 0 18 % 
}
.b-search-result li {
    margin-top : 1.3em;
    list-style : none
}
.b-search-result b {
    font-size : 130 % ;
    margin-right : .3em
}
.b-search-result p {
    font-size : 125 % ;
    margin-top : 3.8em
}
.b-search-result p a {
    font-weight : bold
}
.b-tune div {
    position : relative;
    padding : 2em 2 % 0 18 % 
}
.b-tune div div {
    padding : 0
}
.b-tune h2 {
    font-size : 200 % ;
    font-weight : normal;
    margin-bottom : 1em
}
.b-tune .b-region {
    width : 50 % 
}
.b-tune .sidebar {
    position : absolute;
    right : 2 % ;
    top : 8em;
    width : 24 % ;
    min-width : 180px
}
.b-tune .save
{
    clear : both;
    margin : 1.5em 2 % 0 2 % ;
    padding : .7em 0 .7em 16 % ;
    text-align : left;
    background : #eaeaed
}
.b-tune .auto input, .b-tune .auto i {
    vertical-align : middle
}
.b-page-informer {
    margin-top : 2em
}
.b-page-informer h2, .b-page-informer h3 {
    margin-top : 0
}
.b-informer-group {
    margin-bottom : 1em
}
.b-page-informer .nojs-message {
    font-size : 130 % ;
    margin-left : 6 % 
}
#nojs .b-informer-group {
    display : none
}
.b-informer-descr {
    margin-bottom : 3em
}
.b-informer-descr h2 {
    float : left;
    width : 28 % ;
    margin : 0 8 % 0 6 % 
}
.b-informer-descr .descr {
    float : left;
    width : 56 % 
}
.b-informer-region {
    float : left;
    width : 52 % ;
    margin : 0 12 % 0 6 % 
}
.b-informer-color {
    float : left;
    width : 28 % 
}
.b-informer-color li {
    margin-left : 1.3em;
    list-style : none
}
.b-informer-color input {
    position : absolute;
    margin-left :- 1.3em;
    vertical-align : middle
}
.b-informer-color label {
    position : relative;
    top :- 1px
}
.b-informer-color .color label
{
    left :- 2px;
    height : 1 % ;
    padding : 1px 2px 2px;
    background : url(../i/informer-color.png) repeat-y
}
.b-informer-size {
    float : left;
    width : 64 % ;
    margin : 0 0 0 6 % 
}
.b-informer-size h3 {
    margin-bottom : 0
}
.b-informer-size li
{
    position : relative;
    float : left;
    height : 200px;
    margin : 0 12px 0-9px;
    list-style : none!important
}
.b-informer-size li div {
    padding : 9px
}
.b-informer-size li.active div {
    background : #eaeaea
}
.b-informer-size h4 {
    display : inline;
    font-size : 1em;
    color : #1a3dc1;
    border-bottom : 1px dashed #1a3dc1
}
.b-informer-size .active h4 {
    font-weight : bold;
    color : #000;
    border : 0
}
.b-informer-size h4, .b-informer-size img {
    cursor : pointer
}
.b-informer-size .active h4, .b-informer-size .active img {
    cursor : default
}
.b-informer-size img {
    display : block;
    margin-top : .55em
}
.b-informer-code {
    float : left;
    width : 28 % 
}
.b-informer-code h3 {
    margin-bottom : 0
}
.b-informer-code .clipboard
{
    visibility : hidden;
    cursor : pointer;
    text-decoration : none;
    color : #1a3dc1;
    border-bottom : 1px dashed #1a3dc1
}
.b-informer-code textarea {
    width : 100 % ;
    margin-top : 1.2em;
    color : #bbb
}
.b-informer-code textarea.code {
    color : #000
}